<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Weather Application</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>
	<body>
		<h1 class="display-1 d-flex justify-content-center text-light" style="background-color:#3A3A55;">My Weather Application</h1>
		<figure class="text-center">
  			<blockquote class="blockquote">
    			<p>This application is responsible for real time forecasting of weather reports around the globe</p>
  			</blockquote>
  			<figcaption class="d-flex justify-content-center blockquote-footer">
  				<cite title="Source Title">@Chanakya Lahiri</cite>
  			</figcaption>
		</figure>
		<table class="table table-striped d-flex justify-content-center text-center">
      		<tr>
        		<th colspan="2">ENTER YOUR CITY NAME BELOW</th>
      		</tr>
      		<tr>
      			<form action="#" class="form-inline" th:action="@{/search}" method="GET">
					<td>
						<input type="text" name="theCityName" class="form-control mb-4 col-4" placeholder="City Name">
					</td>
					<td>	
						<button type="submit" class="btn btn-success">Search Weather</button>
					</td>
				</form>	
      		</tr>
    	</table>
	</body>
</html>